@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-color: goldenrod;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    text-align: center;
    padding-top: 150px;
}